
.timeline {
    padding: 30px 20px;
}

.timeline ul {
    list-style-type: none;
    border-left: 2px solid #094a68;
    padding: 10px 5px;
}

.timeline ul li {
    padding: 20px 20px;
    position: relative;
    transition: .5s;
}

.timeline ul li span {
    display: inline-block;
    background-color: #f16fa1;
    color: white;
    background-image: linear-gradient(83deg, #8b55f5, #f16fa1);
    border-radius: 25px;
    padding: 2px 5px;
    font-size: 15px;
    text-align: center;
}

.timeline ul li .content {
    font-size: 17px;
    padding-top: 5px;
}

.timeline ul li .content p {
    padding: 5px 0px 15px 0px;
    font-size: 15px;
}

.timeline ul li:before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background-color: #34ace0;
    border-radius: 50%;
    left: -11px;
    top: 28px;
    transition: .5s;
}

.timeline ul li:hover:before {
    background-color: #0F0;
    box-shadow: 0px 0px 10px 2px #0F0;
}

@media (max-width:300px) {
    .timeline {
        width: 100%;
        padding: 30px 5px 30px 10px;
    }

    .timeline ul li .content h3 {
        color: #34ace0;
        font-size: 15px;
    }

}

.pro-avatar {
    border: 3px solid #FFF;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .1);
    width: 80px;
    height: 80px;
    border-radius: 40px;
    display: block;
    margin: 0 auto;
}

#line {
    background-color: #f16fa1;
    background-image: linear-gradient(83deg, #8b55f5, #f16fa1);
    width: 100%;
    height: 3px;
    border-radius: 10px;
}

.blueLine {
    background-color: #349ae7;
    width: 10%;
    height: 3px;
    border-radius: 10px;
    margin: 0 auto;
}