.profile-student {
    width: 85%;
    display: block;
    margin: 0 auto;
}

.alumni {
    color: #7665A0;
}

.student-name {
    color: #FFC107;
    font-weight: bold;
}

.bold {
    font-weight: 700;
}