#line {
    background-color: #f16fa1;
    background-image: linear-gradient(83deg, #8b55f5, #f16fa1);
    width: 100%;
    height: 3px;
    border-radius: 10px;
}

.card {
    border-radius: 5px;
    border: 0.5px solid #7d787867;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    width: 100%;
    /* height: 220px; */
}

.background {
    width: 100%;
    height: 13vh;
    background: #00bba6;
    background-image: radial-gradient(circle at 28% 36%, #00dcc3, #00bba6 66%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px 5px 0px 0px;
}

.avatar {
    border: 3px solid #FFF;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .1);
    width: 120px;
    height: 120px;
    border-radius: 60px;
    display: block;
    margin: 0 auto;
}


.card:hover {
    box-shadow: 2px 2px 2px rgb(221, 216, 216);
}

.container {
    line-height: 1.9;
    text-align: center;
    padding: 2px 16px;
}

.text-decoration {
    text-decoration: none;
}

.text-color {
    color: #25265EB3;
}