.bgInvite {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 4px;
    background: rgba(17, 138, 239, 0.03);
}
.gift-box{
    display: flex;
    justify-content: flex-start;
}
#line {
    background-color: #f16fa1;
    background-image: linear-gradient(83deg, #8b55f5, #f16fa1);
    width: 100%;
    height: 3px;
    border-radius: 10px;
}