 .logoCenter {
     display: block;
     margin: 0 auto;
 }

 /* Full-width input fields */
 input[type=email],
 input[type=password] {
     width: 100%;
     padding: 15px;
     margin: 5px 0 22px 0;
     display: inline-block;
     border: none;
     background: #f1f1f1;
     border-radius: 4px;
 }

 input[type=email]:focus,
 input[type=password]:focus {
     background-color: #ddd;
     outline: none;
 }

 /* Set a style for all buttons */
 button {
     background-color: #55ACEE;
     color: white;
     padding: 14px;
     margin: 8px 0;
     border: none;
     cursor: pointer;
     width: 100%;
     opacity: 0.9;
     border-radius: 4px;
 }

 button:hover {
     background-color: #349ae7;
 }

 .line {
     background-color: #818181;
     height: 1px;
 }