#line {
    background-color: #f16fa1;
    background-image: linear-gradient(83deg, #8b55f5, #f16fa1);
    width: 100%;
    height: 3px;
    border-radius: 10px;
}

.profile-student {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.alumni {
    color: #7665A0;
}

.student-name {
    color: #FFC107;
    font-weight: bold;
}

.bold {
    font-weight: 700;
}