.responCard-,
.reviewCard- {
    width: 100%;
    padding: 5px;
    float: left;
}

/*max-width start: 0px - 600px */
@media only screen and (max-width: 600px) {
    .courseCard- {
        width: 100%;
    }
    .reviewCard- {
        width: 100%;
    }
}

/*min-width start 600px -768px */
@media only screen and (min-width: 600px) {
    .responCard- {
        width: 50%;
    }
    .reviewCard- {
        width: 50%;
    }
}

/*min-width start 768px->992px */
@media only screen and (min-width: 768px) {
    .responCard- {
        width: 33.33%;
    }
    .reviewCard- {
        width: 50%;
    }
}

/*min-width start 992px-1200px */
@media only screen and (min-width: 992px) {
    .responCard- {
        width: 33.33%;
    }
    .reviewCard- {
        width: 33.33%;
    }
}

/*min-width start 1200px->up */
@media only screen and (min-width: 1200px) {
    .responCard- {
        width: 25%;
    }
    .reviewCard- {
        width: 33.33%;
    }
}