@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    line-height: 1.4;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #25265EB3;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .body {
        font-size: 13px;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .title {
        font-size: 23px;
    }

    .menus {
        display: none;
    }

    .logo {
        display: none;
    }

    .sideDisplay {
        display: flex;
    }

    .lines {
        display: none;
    }

    .homeSceen {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .body {
        font-size: 13px;
        margin-left: 4%;
        margin-right: 4%;
    }

    .title {
        font-size: 30px;
    }

    .menus {
        display: none;
    }

    .logo {
        display: none;
    }

    .sideDisplay {
        display: flex;
    }

    .lines {
        display: none;
    }

    .homeSceen {
        display: none;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .body {
        font-size: 15px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .title {
        font-size: 30px;
    }

    .menus {
        display: none;
    }

    .logo {
        display: none;
    }

    .sideDisplay {
        display: flex;
    }

    .contain {
        margin-top: 80px;
    }

    .lines {
        display: none;
    }

    .homeSceen {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .body {
        font-size: 15px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .title {
        font-size: 30px;
    }

    .menus {
        display: flex;
    }

    .logo {
        display: flex;
    }

    .sideDisplay {
        display: none;
    }

    .contain {
        margin-top: 80px;
        margin-left: 30px;
    }

    .lines {
        display: flex;
    }

    .homeSceen {
        display: flex;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .body {
        font-size: 15px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .title {
        font-size: 30px;
    }

    .menus {
        display: flex;
    }

    .logo {
        display: flex;
    }

    .sideDisplay {
        display: none;
    }

    .contain {
        margin-top: 80px;
        margin-left: 100px;
    }

    .lines {
        display: flex;
    }

    .homeSceen {
        display: flex;
    }
}