@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #25265EB3;
}

.body {
    line-height: 1.5;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .body {
        font-size: 13px;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }

    .title {
        font-size: 23px;
    }

    .menus {
        display: none;
    }

    .logo {
        display: none;
    }

    .sideDisplay {
        display: flex;
    }

    .lines {
        display: none;
    }

    .homeSceen {
        display: none;
    }

    .alumni {
        text-align: center;
        margin-top: 20px;
    }

    .title-project {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .btn-2 {
        display: flex;
        justify-content: space-between;
    }

    .respon-course {
        width: 100%;
    }

    .respon-video {
        width: 100%;
    }
    .video{
        display: none;
    }
    .respon-video-flex{
        display: flex;
    }
    .video-respon{
        margin-bottom: 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .body {
        font-size: 13px;
        margin-left: 4%;
        margin-right: 4%;
    }

    .title {
        font-size: 30px;
    }

    .menus {
        display: none;
    }

    .logo {
        display: none;
    }

    .sideDisplay {
        display: flex;
    }

    .lines {
        display: none;
    }

    .homeSceen {
        display: none;
    }

    .respon-course {
        width: 50%;
    }

    .respon-video {
        width: 50%;
    }
    .respon-video-flex{
        display: none;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .body {
        font-size: 15px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .title {
        font-size: 30px;
    }

    .menus {
        display: none;
    }

    .logo {
        display: none;
    }

    .sideDisplay {
        display: flex;
    }

    .contain {
        margin-top: 80px;
    }

    .lines {
        display: none;
    }

    .homeSceen {
        display: none;
    }

    .respon-course {
        width: 60%;
    }

    .respon-video {
        width: 40%;
    }
    .respon-video-flex{
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .body {
        font-size: 15px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .title {
        font-size: 30px;
    }

    .menus {
        display: flex;
    }

    .logo {
        display: flex;
    }

    .sideDisplay {
        display: none;
    }

    .contain {
        margin-top: 80px;
        margin-left: 30px;
    }

    .lines {
        display: flex;
    }

    .homeSceen {
        display: flex;
    }

    .respon-course {
        width: 70%;
    }

    .respon-video {
        width: 30%;
    }
    .video{
        margin-top: -150px;
    }
    .respon-video-flex{
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .body {
        font-size: 15px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .title {
        font-size: 30px;
    }

    .menus {
        display: flex;
    }

    .logo {
        display: flex;
    }

    .sideDisplay {
        display: none;
    }

    .contain {
        margin-top: 80px;
        margin-left: 100px;
    }

    .lines {
        display: flex;
    }

    .homeSceen {
        display: flex;
    }

    .respon-course {
        width: 70%;
    }

    .respon-video {
        width: 30%;
    }
    .respon-video-flex{
        display: none;
    }
}